/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: oswald;
    src: url(https://www.google.com/fonts/specimen/Oswald);
}

.navbar-inner{
    display: inline;
    background: transparent;
}

.jumbotron{
    background-size:cover;
    position: relative;
    min-height: 700px;
    background:url(https://unsplash.com/photos/7gZEY7tY9C4/download);
    background-position: -50px -50px; 
    background-repeat: no-repeat;
}

.jumbotron-btn{
    background: transparent;
    border-color: #F6F6F6;
    border: 2px;
}

.jumbotron-text{
    color: #F6F6F6;
    text-align: center;
    font-family: "oswald";
}

#navLink{
   
}
